<% provide(:title, @user.name) %>
<h1>
	<%= gravatar_for @user %>
</h1>
Username: <%= @user.name %>,
<br />
Email: <%= @user.email %>, 
<br />
Created at: <%= @user.created_at %>,
<br />
Update at: <%= @user.updated_at %>
<br />
Time now: <strong><%= Time.now.strftime("%H:%M:%S") %></strong>
<!--<script type="text/javascript">
	setTimeout ("location.reload ();", 10000);
</script>-->